body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.container {
    background-color: rgb(7, 195, 228);
    display: grid;
    grid-template-columns: 30% auto;
    /* gap: 20px; */
    /* padding: 10px; */
    max-width: 800px;
    margin: 0 auto;
}
.grid-item {
    background-color: aliceblue;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    /* text-align: center; */
}
.first-grid {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}
.box-left {
    background-color: gray;
}
.photo {
    width: 30%;
    padding: 20px;
}
.heading {
    background-color: aqua;
    width: 70%;
    padding: 20px;
}